body {
	background-color: #EFF0F3!important;
}
.container {
	margin-top: 50px;
	width: 25%!important;
}

/*Button add style*/
.container #submit {
	margin-top: 20px;

}

form {
	background: #2FCC9A;
	border: 2px solid #228e6c;
	border-radius: 10px;
	padding: 20px 30px;
}

#task {
	width: 100%;
	float: left;
	margin-right: 5%;
}

ul li {
	list-style: none;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #fcfcfc;
	border: 1px solid silver;
	border-radius: 5px;
	float: left;
}

ul li:hover {
	background: gray;

}
ul li button {
	border: 0;
	padding: 5px 15px;
	color: :white;
	font-size: 13px;
	background: #db5757;
	position: relative;
	left: 130px;
	border-radius: 5px;
	
}

ul li button:hover{
	background: #a04141;
}

